# Ignore files (like .npmignore or .gitignore)
tests/							export-ignore
phpunit.xml  					export-ignore
phpstan.neon  					export-ignore
php-cs-fixer.dist.php			export-ignore
.github							export-ignore
README.md						export-ignore
