parameters:
    level: 3
    paths:
        - src
        - tests
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface::getUsername\(\)\.#'
    excludePaths:
        - src/Cache/FeatureCacheWarmer.php
